<button class="button-submit"
  (click)="switchAddForm()"
>Dodaj samochód</button>

<form class="form-style" (submit)="saveCar()" [formGroup]="addCarFormGroup" *ngIf="showAddForm">
  <div class="form-group">
    <label for="brand">Marka</label>

    <input
      id="brand"
      type="text"
      formControlName="brand"
    />
  </div>

  <div class="form-group">
    <label for="model">Model</label>

    <input
      id="model"
      type="text"
      formControlName="model"
    />
  </div>

  <div class="form-group">
    <label for="year">Rok</label>

    <input
      class="form-year"
      id="year"
      type="number"
      formControlName="year"
    />
  </div>

  <div class="form-group">
    <label for="user">Użytkownik</label>

    <select class="form-select" id="user" formControlName="user">
      <option
        *ngFor="let user of users"
        [value]="user.id"
      >
        {{ user.id }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <button class="button-submit" type="submit">
      Zapisz
    </button>

  </div>
</form>


<mat-form-field appearance="standard">
  <mat-label>Wyszukaj</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Podaj poszukiwaną frazę" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="user_id">
    <th class="name-align" mat-header-cell *matHeaderCellDef> User ID </th>
    <td class="name-align" mat-cell *matCellDef="let element let i = index"> {{element.user.id}} </td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th class="name-align" mat-header-cell *matHeaderCellDef> Name </th>
    <td class="name-align" mat-cell *matCellDef="let element let i = index"> {{element.user.name}} </td>
  </ng-container>

  <ng-container matColumnDef="brand">
    <th class="name-align" mat-header-cell *matHeaderCellDef> Marka </th>
    <td class="name-align" mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th class="name-align" mat-header-cell *matHeaderCellDef> Model </th>
    <td class="name-align" mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="year_of_premiere">
    <th class="name-align" mat-header-cell *matHeaderCellDef> Data premiery </th>
    <td class="name-align" mat-cell *matCellDef="let element"> {{element.year_of_premiere}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="row-hover" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Brak danych związanych z frazą "{{input.value}}"</td>
  </tr>
</table>
